<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--可以配置多个数据源，通过default属性设置哪个生效-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.16.2:10000/lihonghao"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="poolMaximumIdleConnections" value="10"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--这边可以使用package和resource两种方式加载mapper-->
        <!--推荐使用resource这种-->
        <mapper resource="mappers/UserDao.xml"/>
    </mappers>
</configuration>